<title>Recky | <%= @artist_query.titleize %></title>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://i.imgur.com/d7ENmw1.png" alt="Recky logo" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">New search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:oquinter@chicagobooth.edu">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h1 class="text-left"><strong><%= @artist_query.titleize %></strong></h1>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<% if $query_total_results > 100 %>
  <div class="container-fluid">
    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center col-md-12 col-xs-12" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        <strong>Whoa!</strong> We found <strong><%= number_with_delimiter($query_total_results) %> records </strong> matching your query. Given technical constraints, we can only show you the first 100. If you can't find the record you are looking for, try searching by catalogue ID or barcode.
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th scope="col" class="d-none d-md-table-cell d-lg-table-cell">Cover</th>
          <th scope="col">Artist</th>
          <th scope="col">Title</th>
          <th scope="col">Format</th>
          <th scope="col" class="d-none d-md-table-cell d-lg-table-cell">Genre</th>
          <th scope="col" class="d-none d-md-table-cell d-lg-table-cell">Label</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <% @masters_list.each do |a_master| %>
          <tr>
            <% if a_master.fetch("cover_image") == "https://st.discogs.com/bfb7c8c363a6739b62d80e79f603b2f433148612/images/spacer.gif"%>
              <td class="d-none d-md-table-cell d-lg-table-cell"><img src="https://i.imgur.com/dccTEc1.png" alt="Album cover was not found>" width=150></td>
            <% else %>
            <td class="d-none d-md-table-cell d-lg-table-cell"><img src="<%= a_master.fetch("cover_image") %>" alt="Album cover>" width=150></td>
            <% end %>
            <td><%= a_master.fetch("title").split(" - ").at(0)%></td>
            <td><%= a_master.fetch("title").split(" - ").at(1)%></td>
            <td>
              <% if a_master.fetch("format").include?("7\"")  %>
                7-inch
              <% elsif a_master.fetch("format").include?("10\"") %>
                10-inch
              <% else %>
                12-inch
              <% end %>
            </td>
            <td class="d-none d-md-table-cell d-lg-table-cell"><%= a_master.fetch("style").join(", ")%></td>
            <td class="d-none d-md-table-cell d-lg-table-cell"><%= a_master.fetch("label").uniq.sort.join(", ")%></td>
            <td>
              <% master_count = $results_array.count { |hash| hash["master_id"] == a_master.fetch("master_id") } %>
              <% if master_count == 1 %>
                <a href="/search/pressing/<%= a_master.fetch("id")%>"><Button type="button" class="btn btn-info text-white">See details</Button></a>
              <% else %>
                <a href="/search/explore/<%= a_master.fetch("master_id")%>" class="d-block mb-2"><Button type="button" class="btn btn-primary py-1">See all pressings</Button></a>
                <a href="/search/findpressing/<%= a_master.fetch("master_id")%>" class="d-block"><Button type="button" class="btn btn-secondary py-1">Find my pressing</Button></a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
